@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

// Desktop
.navlist {
  &__menu-item {
    margin-bottom: 1.2rem;
  }

  &__link {
    font-size: 1.1em;
    color: var.$colorNeutral;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;

    &:hover {
      font-weight: 700;
      opacity: 1;
    }
  }
}

// Tablet
@media only screen and (max-width: var.$tabletBreakpoint) {
}

// Mobile
@media only screen and (max-width: var.$mobileBreakpoint) {
}
