@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

// Desktop, Tablet & Mobile
.footer {
  position: relative;
  background: {
    color: var.$colorFooterBackground;
  }

  &__wrapper {
    @include mix.wrapper;

    & > .clear-absolute {
      margin-bottom: 12rem;
      border: 2px solid red;
    }
  }
}
