@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

// Desktop
.review {
  padding: 1.6em 0;
  padding-bottom: 26em;
  background: {
    color: var.$colorMainBackground;
    image: url(../images/backgrounds/bg-quotes.png);
    repeat: no-repeat;
    position: 14rem 0rem;
  }

  &__wrapper {
    @include mix.wrapper;

    padding: 0;
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
  }
}

// Tablet
@media only screen and (max-width: var.$tabletBreakpoint) {
  .review {
    padding: {
      left: 2em;
      right: 2em;
    }

    &__wrapper {
      padding: 0 2em;
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 1rem;
    }
  }
}

// Mobile
@media only screen and (max-width: var.$mobileBreakpoint) {
  .review {
    padding-top: 10em;
    padding-bottom: 30em;
    background: {
      image: url(../images/backgrounds/bg-quotes.png);
      position: 4rem 8rem;
      size: 25px;
    }
  }
}
